{% extends "base.html" %}

{% block contenu %}

        
        <!-- Slot -->
        <main role="main" class="flex-auto w-full container max-w-xl mx-auto py-16 px-6">
                <h1>About</h1> 
                <img src="dimension200x200/{{page.main_picture[0]}}" alt="{{ page.title }}" class="flex rounded-full h-64 w-64 bg-contain mx-auto md:float-right my-6 md:ml-10"> 
                
                <p class="mb-6">
                    {{ page.content | safe}}
                </p>

                </main>
    
{% endblock %}

        