
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="1">

    <meta property="og:title" content="{{ page.titre }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.slug }}">
    <meta property="og:description" content="Generate an elegant blog with Jigsaw">

    <title>{{ page.titre }}</title>

    
    <meta property="og:title" content="{{ page.titre }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.slug }}">
    <meta property="og:description" content="">

    
    <link rel="stylesheet" href="main.css">

    <!-- MailChimp style -->
    <style type="text/css">
    #mc_embed_signup input.mce_inline_error { border-color:#6B0505; } 
    #mc_embed_signup div.mce_inline_error { margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff; }
    </style>

    <!-- Animation style (nothing in tailwind css...) -->
    <style>
    .animation-img {
        visibility: hidden;
        opacity : 0;
        transform: translate(-20px, 0)
    }

    .animation-txt {
        visibility: hidden;
        opacity : 0;
        transform: translate(0,20px)
    }

    </style>

    <!-- Lazy loading library -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

</head>

    <body class="flex flex-col justify-between min-h-screen bg-grey-lightest text-grey-darkest leading-normal font-sans" style="zoom: 1;">
    <div >
        <header role="banner" class="flex items-center shadow bg-white border-b h-24 py-4">
            <div class="container flex items-center max-w-4xl mx-auto px-4 lg:px-8">
                <div class="flex items-center">
                    <a href="http://jigsaw-blog-staging.tighten.co/" title="Blog Starter Template home" class="inline-flex items-center">
                        <img src="logo.png" alt="This is my logo" class="h-8 md:h-10 mr-3"> 
                        <h1 class="text-lg md:text-2xl text-blue-darkest font-semibold hover:text-blue-dark my-0">Blog Starter Template</h1>
                    </a>
                </div>
                <div class="flex flex-1 justify-end items-center">
                    
                    <nav class="hidden lg:flex items-center justify-end text-lg ">
                        <a title="Blog Starter Template Blog" href="http://jigsaw-blog-staging.tighten.co/blog" class="ml-6 text-grey-darker hover:text-blue-dark ">
                        Blog
                        </a> 
                        <a title="Blog Starter Template About" href="http://jigsaw-blog-staging.tighten.co/about" class="ml-6 text-grey-darker hover:text-blue-dark ">
                        About
                        </a> 
                        <a title="Blog Starter Template Contact" href="http://jigsaw-blog-staging.tighten.co/contact" class="ml-6 text-grey-darker hover:text-blue-dark ">
                        Contact
                        </a>
                    </nav> 
                    
                    <button onclick="navMenu.toggle()" class="flex justify-center items-center bg-blue border border-blue h-10 px-5 rounded-full lg:hidden focus:outline-none">
                        <svg id="js-nav-menu-show" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="fill-current text-white h-9 w-4">
                            <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z">
                            </path>
                        </svg> 
                        <svg id="js-nav-menu-hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 30" class="hidden fill-current text-white h-9 w-4"><polygon points="32.8,4.4 28.6,0.2 18,10.8 7.4,0.2 3.2,4.4 13.8,15 3.2,25.6 7.4,29.8 18,19.2 28.6,29.8 32.8,25.6 22.2,15 "></polygon>
                        </svg>
                    </button>
                                
                </div>
            </div>
        </header>
        
        <nav id="js-nav-menu" class="nav-menu hidden lg:hidden">
            <ul class="list-reset my-0">
                <li class="pl-4">
                    <a title="Blog Starter Template Blog" href="http://jigsaw-blog-staging.tighten.co/blog" class="nav-menu__item hover:text-blue ">
                        Blog
                    </a>
                </li> 
                <li class="pl-4">
                    <a title="Blog Starter Template About" href="http://jigsaw-blog-staging.tighten.co/about" class="nav-menu__item hover:text-blue ">
                        About
                    </a>
                </li>
                <li class="pl-4">
                    <a title="Blog Starter Template Contact" href="http://jigsaw-blog-staging.tighten.co/contact" class="nav-menu__item hover:text-blue ">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        
        <!-- Slot -->
        {% block contenu %}

        {% endblock %}
    
        <!-- End of slot -->

        
    </div>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    
    <script>
        const navMenu = {
            toggle() {
                const menu = document.getElementById('js-nav-menu');
                menu.classList.toggle('hidden');
                menu.classList.toggle('lg:block');
                document.getElementById('js-nav-menu-hide').classList.toggle('hidden');
                document.getElementById('js-nav-menu-show').classList.toggle('hidden');
            },
        };

        const observer = lozad(); // lazy loads elements with default selector as '.lozad'
        observer.observe();
    </script>

    <footer class="bg-white text-center text-sm mt-12 py-4" role="contentinfo">
        <ul class="flex flex-col md:flex-row justify-center list-reset">
            <li class="md:mr-2">
                © <a href="https://camilab.co/" title="Camilab">Camilab</a> 2019.
            </li>

            <li>
                Built with <a href="http://jigsaw.tighten.co/" title="Jigsaw by Tighten">TinySSG</a>
                and <a href="https://tailwindcss.com/" title="Tailwind CSS, a utility-first CSS framework">Tailwind CSS</a>.
            </li>
        </ul>
    </footer>

    <script>

        const elementInViewport = function (el) {
            var rect = el.getBoundingClientRect()
            return (
            rect.top    >= 0
            && rect.left   >= 0
            && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
            )
        };

        function processScroll(e) {
            img_animation = Array.from(document.getElementsByClassName("animation-img"));
            img_animation.map( function(el) {
                if (elementInViewport(el)) {
                    el.style = " visibility: visible; opacity: 1; transform: translate(0,0); transition: opacity 0.9s cubic-bezier(0.5, 0, 0, 1) 0.35s, transform 0.9s cubic-bezier(0.5, 0, 0, 1) 0.35s;"
                }
                
            });
            txt_animation = Array.from(document.getElementsByClassName("animation-txt"));
            txt_animation.map( function(el) {
                if (elementInViewport(el)) {
                    el.style = " visibility: visible; opacity: 1; transform: translate(0,0); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;"
                }
            });
        }

        addEventListener('scroll',processScroll);

        window.addEventListener("load", function(event) {
            processScroll(event);
            addEventListener('scroll',processScroll);

        });


    </script>

    </body>
</html>