{% extends "base.html" %}

{% block contenu %}

        <main role="main" class="flex-auto w-full container max-w-xl mx-auto py-16 px-6">
            <h1>{{ page.titre}}</h1>
            <p class="mb-8">
                {{ page.content | safe}}
            </p> 
            <div class="mb-12">
                <div class="flex flex-wrap mb-6 -mx-3">
                    <div class="w-full md:w-1/2 mb-6 md:mb-0 px-3">
                        <label for="contact-name" class="block mb-2 text-grey-darkest text-sm font-semibold">
                            Name
                        </label> 
                        <input type="text" id="contact-name" placeholder="Jane Doe" name="name" required="required" class="block w-full border shadow rounded-lg outline-none mb-2 p-4">
                    </div> 
                    <div class="w-full px-3 md:w-1/2">
                        <label for="contact-email" class="block text-grey-darkest text-sm font-semibold mb-2">
                            Email Address
                        </label> 
                        <input type="email" id="contact-email" placeholder="email@domain.com" name="email" required="required" class="block w-full border shadow rounded-lg outline-none mb-2 p-4">
                    </div>
                </div> 
                <div class="w-full mb-12">
                    <label for="contact-message" class="block text-grey-darkest text-sm font-semibold mb-2">
                        Message
                    </label> 
                    <textarea id="contact-message" rows="4" name="message" placeholder="A lovely message here." required="required" class="block w-full border shadow rounded-lg outline-none appearance-none mb-2 px-4 py-6"></textarea>
                </div> 
                <div class="flex justify-end w-full">
                    <button aria-label="Submit the contact form" onclick="sendMail()" class="block bg-blue hover:bg-blue-dark text-white text-sm font-semibold tracking-wide uppercase shadow rounded-lg cursor-pointer px-6 py-3">
                        Submit
                    </button>
                </div>
            </div>
        </main>
            
    <script>

        const sendMail = function(el) {
            var recipient="contact";
            var at = String.fromCharCode(64);
            var dotcom="example.com";
            var mail="mailto:";
            var subject = "Message from " + document.getElementById("contact-name").value + " (" + document.getElementById("contact-email").value + ")"
            var body = document.getElementById("contact-message").value
            console.log(mail+recipient+at+dotcom+'?subject='+subject+'&body='+body);
            window.open(mail+recipient+at+dotcom+'?subject='+subject+'&body='+body);
        }
    </script>

{% endblock %}