{% extends "Base.html" %}

{% block contenu %}

        <!-- MailChimp style -->
        <style type="text/css">
        #mc_embed_signup input.mce_inline_error { border-color:#6B0505; } 
        #mc_embed_signup div.mce_inline_error { margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff; }
        </style>

        <!-- Slot -->
        <main role="main" class="flex-auto w-full container max-w-xl mx-auto py-16 px-6">

            <div class="w-full mb-6">
                
                <!-- Lazy loading example -->   
                <img class="lozad" src="blur/{{page.main_picture[0]}}"  data-src="original/{{page.main_picture[0]}}" alt="{{ page.titre }}">
                
                
                <h2 class="text-3xl mt-3 ">
                    <a href="{{page.slug}}" title="{{ page.title }}" class="text-black font-extrabold">
                        {{ page.titre }}
                    </a>
                </h2>
                <p class="mt-0 mb-4 ">
                    {{ page.content | safe }}
                </p> 
                
            </div> 
            
            <hr class="border-b my-6">
        
            
            <!-- Maichimp signup -->
            <div class="flex justify-center lg:-mx-12 my-12 p-6 md:px-12 bg-grey-lighter border border-grey-light text-sm md:rounded shadow animation-txt">
                <div id="mc_embed_signup">
                    <form action="{{page.mailchimp_id}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate" class="validate">
                        <div id="mc_embed_signup_scroll">
                            <h2>Recevez régulièrement les mises à jour de tinySSG</h2>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address </label> 
                                <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email address" class="required email" aria-required="true">
                            </div> 
                            <div id="mce-responses" class="clear">
                                <div id="mce-error-response" class="response" style="display: none;"></div> 
                                <div id="mce-success-response" class="response" style="display: none;"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> 
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input type="text" name="b_e2ebc574abd0d2c17c4c244f6_75aa0d00ce" tabindex="-1" value="">
                            </div> 
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
            </div> 
            
            <div class="flex flex-col md:flex-row flex-wrap">
                
                {% for page_item in site|sort(attribute='createdDate', reverse=True) if page_item.layout=="Post" %}

                <div class="w-full md:w-1/2 md:px-4 animation-txt">
                    <div class="flex flex-col mb-4">
                        <!-- Original pictures are downsized when diplayed as thumbnails -->
                        <img src="dimension400x200/{{page_item.main_picture[0]}}" class="mb-6 self-center max-w-md md:max-w-full" alt="{{ page_item.titre }}">
                        <p class="text-grey-darker font-medium my-2">
                            {{ page_item.date }}
                        </p>
                        <h2 class="text-3xl mt-0">
                            <a href="{{page_item.slug}}" title="{{ page_item.title }}" class="text-black font-extrabold">
                                {{ page_item.titre }}
                            </a>
                        </h2>
                        <p class="mb-4 mt-0">
                            {{ page_item.description }}
                        </p> 
                        <a href="{{page_item.slug}}" title="{{ page_item.title }}" class="uppercase font-semibold tracking-wide mb-2">
                            Read
                        </a>
                    </div>
                </div>
                
                <hr class="block md:hidden w-full border-b mt-2 mb-6">

                {% endfor %}
            
            </div> 
            
        </main>

        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    
{% endblock %}